body {
	background-color: #FEC42E !important;
}

header {
	padding-left: 40px;
	padding-top: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	display: flex !important;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 80vw;
}

h1 {
	float: left;
}

footer {
	font-size: 11px;
	color: grey;
	text-align: center;
	margin-top: 10px;
}

button {
	margin-bottom: 10px !important;
}

/* Feel free to modify anything in this file.*/
.vendor-wrapper {
	justify-content: left;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 3px solid #FEC42E;
	background-color: white;
}

.vendor-photo {
	/*max-width: : 200px;*/
	/*max-height: 150px;*/
	padding-right: 20px;
	width: 60%;
    float: left;
}

.vendor-book-button {
	font-size: 2em;
}

.text {
	width: 40%;
	float: right;
}

.logo {
	height: 100px;
}

#rocket {
	float: left;
}